[Unit]
Description=Rust Discord Status Bot
After=network.target

[Service]
User=rustbot
WorkingDirectory=/opt/rust-game-srvstatus-bot
EnvironmentFile=/opt/rust-game-srvstatus-bot/.env
ExecStart=/opt/rust-game-srvstatus-bot/venv/bin/python -m bot.bot
Restart=always

[Install]
WantedBy=multi-user.target